<table class="table table-striped table-hover">
  <thead>
    <tr>
      {{#headers}}
        <th>{{.}}</th>
      {{/headers}}
    </tr>
  </thead>
  <tbody>
    {{#data}}
      <tr>
        {{#.}}
          <td>{{.}}</td>
        {{/.}}
      </tr>
    {{/data}}
  </tbody>
</table>
