<div class="form-group">
  <label class="form-label" for="{{id}}">{{label}}</label>
  <input class="form-input" type="text" id="{{id}}" value="{{value}}">
  {{#error}}
    <p class="form-input-hint">{{error}}</p>
  {{/error}}
</div>
