<div class="form-group">
  <label class="form-label" for="{{id}}">{{label}}</label>
  <textarea class="form-input" id="{{id}}" rows="{{rows}}">{{value}}</textarea>
  {{#error}}
    <p class="form-input-hint">{{error}}</p>
  {{/error}}
</div>
