<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Drzyr</title>

    <link rel="stylesheet" href="https://unpkg.com/spectre.css/dist/spectre.min.css">
    <link rel="stylesheet" href="https://unpkg.com/spectre.css/dist/spectre-exp.min.css">
    <link rel="stylesheet" href="https://unpkg.com/spectre.css/dist/spectre-icons.min.css">
    <link href="https://unpkg.com/gridjs/dist/theme/mermaid.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="/main.css">

    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script>
      MathJax = {
        tex: {
          inlineMath: [['$', '$'], ['\\(', '\\)']],
          displayMath: [['$$', '$$'], ['\\[', '\\]']]
        },
        svg: {
          fontCache: 'global'
        }
      };
    </script>
    <script type="text/javascript" id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-svg.js"></script>
</head>
<body>
    <header id="navbar-container" class="navbar"></header>

    <div id="layout-container">
      <div id="sidebar">
        <%= locals.dig(:server_rendered, :sidebar_content) %>
      </div>
      <div id="app">
        <%= locals.dig(:server_rendered, :main_content) %>
      </div>
    </div>

    <script>
      window.DRZYR_SERVER_RENDERED_NAVBAR = <%= locals.dig(:server_rendered, :navbar).to_json %>;
    </script>

    <script src="https://unpkg.com/gridjs/dist/gridjs.umd.js"></script>
    <script src="/javascript.js"></script>
</body>
</html>
